
# macOS-spezifische Dateien
.DS_Store

# Node-Module und Logs (Node.js/NPM)
node_modules/

# Build-Ausgaben
/dist
/build
/out
/*.tgz

# Persönliche IDE-Einstellungen
.env

# Temporäre Dateien
*.log
*.tmp
*.temp
