
/* ===============================

card.css

- gestaltung der einzelnen Karten


================================*/



@media screen {

    .card {
        display: flex;        
    
        background-color: var(--color-card-background);
        width: 80vw;
        height: 70vh;
        border-radius: 10px;
        box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
        
    }

    .card__home {
        background-color: none;
    }
 
    
}

/* Ende @media */



@media screen and (min-width: 1080px) {

 

}

/* Ende der Media Query */


@media screen and (min-width: 800px) {

    
}

/* Ende der Media Query */