/* ===============================

content.css

- Links in main
- Alle Elemente in main

================================*/



@media screen {

    .site-content {
        line-height: 1.5;
    }

    .site-content a:link {
        color: #0674b8;
    }

    .site-content a:visited {
        color: #36aade;
    }

    .site-content a:hover .site-content a:focus {
        color: #f5662e;
    }

    .site-content a:active {

        color: #d90000;
    }


    /** Startseite
      *
      * Gestaltung und Reihenfolge der Teaserboxen 
      *
      */

    .teaser {
        max-width: 1450px;
        min-width: 320px;
        margin: auto;

        font-size: 1.5rem;
        text-align: center;
        margin-top: 20px;
    }




    .teaser-text {
        display: flex;
        flex-flow: column;
        flex: 1 0 320px;
        max-width: 500px;
        margin: auto;
        padding: 1em;
    }

    .teaser h3 {
        font-size: 2.5rem;
        font-variant: small-caps;
        margin: 0 auto 0.5em;
    }

    .teaser-img {
        flex: 1 200px 0;
        margin: auto;
        height: auto;
        padding: 1em;
        width: 72%;
        max-width: 400px;
        min-width: 300px;
    }

    /* Linkanimation Unterstrich  */

    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #0087ca;
        text-decoration: none;
        width: fit-content;
        margin: auto;
    }

    .hover-underline-animation:hover {
        /* font-weight: bold; */
        transform: scale(1.1);
        transition: transform 0.5s ease-out;

    }


    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: #eca969;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    
}

/* Ende @media */



@media screen and (min-width: 1080px) {

    .teaser {
        font-size: 2rem;
    }

    .teaser h3 {
        font-size: 3rem;
    }

    .teaser-img {
        width: 100%;
        max-width: 700px;
    }


}

/* Ende der Media Query */


@media screen and (min-width: 800px) {

    .teaser-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "links rechts";

        /* background-color: rgba(51, 51, 51, 0.232); */
        margin-bottom: 100px;
    }

    .teaser-img {
        width: 80%;
        min-width: 450px;
    }


    #ueber-mich-text {
        grid-area: links;
    }

    #ueber-mich-bild {
        grid-area: rechts;
    }

    #radreisen-bild {
        grid-area: links;
    }

    #radreisen-text {
        grid-area: rechts;
    }

    #wandern-bild {
        grid-area: rechts;
    }

    #wandern-text {
        grid-area: links;
    }
}

/* Ende der Media Query */