/* ===============================

content.css

- Links in main
- Alle Elemente in main

================================*/



@media screen {

    .site-content {
        line-height: 1.5;
    }

    .site-content a:link {
        color: #0674b8;
    }

    .site-content a:visited {
        color: #36aade;
    }

    .site-content a:hover .site-content a:focus {
        color: #f5662e;
    }

    .site-content a:active {

        color: #d90000;
    }


}

/* Ende @media */



@media screen and (min-width: 1080px) {

    

}

/* Ende der Media Query */


@media screen and (min-width: 800px) {

    
}

/* Ende der Media Query */