
/* ===============================

settings.css

- gestaltung der Settings Karten


================================*/



@media screen {

     .settings-card__gauge {
          width: 200px;
          height: 200px;
          margin-top: 2rem;
          overflow: visible; 
          transform: rotate(139deg); 
          z-index: 2;
     }
     
     .settings-card__gauge--range {
          display: flex;
          justify-content: space-between;
          width: 250px;
          margin-top: -10px;
          font-size: 1.5rem;

     }

     .settings-card__gauge--value-box {
          display: flex;
          margin-top: -180px;
          font-size: 2rem;
     }
     
     .settings-card__gauge--current-value {
          background-color: transparent;
          width: 70px;
          font-size: 3rem;
          color: var(--color-text-light);
          text-align: right;
          border: none; 
     }
     
     .settings-card__automatic {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          margin-top: 10px;
          z-index: 5;
     }

     .settings-card__gauge--buttons {
          display: flex;
          justify-content: space-between;
          width: 250px;
          margin-top: 40px;
          z-index: 5;          
     }

}
/* Ende @media */



@media screen and (min-width: 1080px) {

 

}

/* Ende der Media Query */


@media screen and (min-width: 800px) {

    
}

/* Ende der Media Query */